$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #d81b60;
$primary-dark: #a00037;
$primary-light: #ff5c8d;
$on-primary: #ffffff;

$secondary: #870d4d;
$secondary-dark: #550025;
$secondary-light: #bb4679;
$on-secondary: #ffffff;

$error: #B00020;
$on-error: #ffffff;

$success: #004c8c;
$on-success: #ffffff;
