<!-- <button (click)="onToggleSpinner()">Toggle Spinner</button>
<app-spinner *ngIf="showSpinner"></app-spinner>
<button (click)="onSuccess()"> Exito</button>
<button (click)="onError()"> Error</button> -->

<mat-sidenav-container>
  <mat-sidenav>
    <p>Elemento Sidenav</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
